.loginCard{
    height: 400px;
    width: 400px;
    background-color: #383a41;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 1vh 2vh .5vh #00000028;
}

.loginTitle{
    color: #aaaaaa;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.errorMessage{
    height: 25px !important;
    width: 100%;
    color: red;
    font-size: 15px;
    margin-bottom: 5px;
}

.inputTitle{
    font-size: 15px;
    margin-bottom: 5px;
    color: #bbb;
}

.buttonPlace{
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
}

.switchText{
    font-size: 14px;
    color: #aaa;
}

.switchText a{
    font-size: 13px;
    color: red;
}