* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    color: #dddddd;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    background-color: #383a41;
    height: 70px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    padding: 12px 10px;
}

.title {
    padding: 0 0 0 20px;
    font-size: 20px;
}

.headerMiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.searchForm {
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.searchInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4a4e57;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    height: 100%;
    transition: all .1s;
}

.searchInputDiv:hover {
    background-color: #55575e;
}

.searchInput {
    padding: 0 15px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.searchInput::placeholder {
    color: #aaaaaa;
}

.searchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #cf0000;
    border-radius: 0px 5px 5px 0;
    transition: all .1s;
}

.searchButton i {
    font-size: 90%;
    transition: all .1s;
}

.searchButton:hover {
    background-color: #ff0000;
}

.searchButton:hover>i {
    font-size: 110%;
}

.searchButton:active {
    background-color: #cf0000;
}

.searchButton:active>i {
    font-size: 80%;
}

.headerLast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #2d2f35;
}

.centerSection {
    width: 100%;
    height: 92%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.defaultInput {
    width: 100%;
    height: 45px;
    background-color: #4a4e57;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid red;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 15px;
    transition: all .1s;
}

.defaultInput::placeholder {
    color: #aaaaaa;
}

.defaultInput:hover {
    background-color: #61646b;
}

.defaultInput:focus {
    background-color: #61646b;
}

.defaultButton {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    transition: all .1s;
}

.defaultButton:hover {
    background-color: #cf0000;
    font-size: 110%;
}

.defaultButton:active {
    background-color: #ff3434;
    font-size: 80%;
}

.loginButton {
    border-radius: 5px;
    background-color: #4b4d55;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .1s;
}

.loginButton i {
    font-size: 25px;
}

.loginButton:hover {
    background-color: #55575e;
    font-size: 105%;
}

.loginButton:active {
    background-color: #6b6c72;
    font-size: 90%;
}

.searchContainer {
    height: 100%;
}

.searchList {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: 360px;
    gap: 20px 20px;
    padding: 5% 1%;
}

.searchItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    background-color: #383a41;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 1vh 2vh .5vh #00000028;
    transition: all .1s;
}

.searchItem:hover {
    background-color: #474950;
}

.searchItem:hover>.searchItemIcon i {
    font-size: 120px;
}

.searchItem:active {
    background-color: #383a41;
}

.searchItem:active>.searchItemIcon i {
    font-size: 80px;
}

.searchItemIcon {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #383a41;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
}

.searchItemIcon i {
    font-size: 100px;
    transition: all .1s;
}

.searchItemName {
    width: 193px;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchItemAuthor {
    width: 100%;
    font-size: 16px;
    text-align: left;
}

@media only screen and (max-width: 750px) {
    .title {
        display: none;
    }
    .header {
        grid-template-columns: 75% 25%;
    }
}

@media only screen and (max-width: 450px) {
    .title {
        display: none;
    }
    .header {
        grid-template-columns: 70% 30%;
    }
    .iconlogin {
        display: none;
    }
    .searchInputDiv {
        grid-template-columns: 70% 25%;
    }
    .searchList {
        grid-template-columns: 100%;
    }
}