*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #dddddd;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.header{
    background-color: #383a41;
    height: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.title{
    padding: 0 0 0 20px;
    font-size: 20px;
}

.searchForm{
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.searchInputDiv{
    padding: 0 15px;
    background-color: #4a4e57;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100%;
}

.searchInput{
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.searchInput::placeholder{
    color: #aaaaaa;
}

.container{
    background-color: #2d2f35;
}

.centerSection{
    width: 100%;
    height: 92%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.defaultInput{
    width: 100%;
    height: 45px;
    background-color: #4a4e57;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid red;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 15px;
}

.defaultInput::placeholder{
    color: #aaaaaa;
}

.defaultInput:hover{
    background-color: #61646b;
}

.defaultInput:focus{
    background-color: #61646b;
}

.defaultButton{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
    color: #fff;
}

.defaultButton:hover{
    background-color: #cf0000;
}