/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .searchHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .searchOptions{
        display: flex;
        flex-direction: space-between;
    }

    .searchOrderby{
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-weight: 900;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .searchOrderby i{
        color: #ff3b3b;
        font-size: 20px;
        margin-right: 10px;
        transition: all .1s;
    }

    .searchOrderby:hover{
        background-color: #474950;
        color: #ff3b3b;
    }
    
    .searchOrderby:active{
        background-color: #383a41;
    }
    
    .pagination{
        margin: 20px 0;
        padding: 0 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .pagination #arrow{
        color: red;
        font-size: 30px;
    }

    .active span{
        color: red !important;
        font-weight: 900;
    }

    .pagination li a{
        font-weight: 900;
        text-decoration: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .searchHeader{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .searchOptions{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: space-between;
    }

    .searchOrderby{
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-weight: 900;
        font-size: 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .searchOrderby i{
        color: #ff3b3b;
        font-size: 26px;
        margin-right: 15px;
        transition: all .1s;
    }

    .searchOrderby:hover{
        background-color: #474950;
        color: #ff3b3b;
    }
    
    .searchOrderby:active{
        background-color: #383a41;
    }

    .pagination{
        margin: 20px 0;
        padding: 0 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .pagination #arrow{
        color: red;
        font-size: 30px;
    }

    .active span{
        color: red !important;
        font-weight: 900;
    }

    .pagination li a{
        font-weight: 900;
        text-decoration: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .searchHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .searchOptions{
        display: flex;
        flex-direction: space-between;
    }

    .searchOrderby{
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-size: 20px;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .searchOrderby i{
        color: #ff3b3b;
        font-size: 24px;
        margin-right: 10px;
        transition: all .1s;
    }

    .searchOrderby:hover{
        background-color: #474950;
        color: #ff3b3b;
    }
    
    .searchOrderby:active{
        background-color: #383a41;
    }
    
    .pagination{
        margin: 20px 0;
        padding: 0 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .pagination #arrow{
        color: red;
        font-size: 30px;
    }

    .active span{
        color: red !important;
        font-weight: 900;
    }

    .pagination li a{
        font-weight: 900;
        text-decoration: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .searchHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .searchOptions{
        display: flex;
        flex-direction: space-between;
    }

    .searchOrderby{
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .searchOrderby i{
        color: #ff3b3b;
        font-size: 20px;
        margin-right: 10px;
        transition: all .1s;
    }

    .searchOrderby:hover{
        background-color: #474950;
        color: #ff3b3b;
    }
    
    .searchOrderby:active{
        background-color: #383a41;
    }
    
    .pagination{
        margin: 20px 0;
        padding: 0 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .pagination #arrow{
        color: red;
        font-size: 30px;
    }

    .active span{
        color: red !important;
        font-weight: 900;
    }

    .pagination li a{
        font-weight: 900;
        text-decoration: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .searchHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .searchOptions{
        display: flex;
        flex-direction: space-between;
    }

    .searchOrderby{
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .searchOrderby i{
        color: #ff3b3b;
        font-size: 20px;
        margin-right: 10px;
        transition: all .1s;
    }

    .searchOrderby:hover{
        background-color: #474950;
        color: #ff3b3b;
    }

    .searchOrderby:active{
        background-color: #383a41;
    }

    #searchOrderbyWindow{
        position: absolute;
        bottom: -260px;
        right: 0px;
        z-index: 1;
        width: 320px;
        height: 250px;
        border-radius: 10px;
        padding: 20px 20px;
        background-color: #383a41;
        color: #ffffff;
        font-weight: 900;
        font-size: 26px;
        display: none;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 1vh 2vh .5vh #00000028;
        transition: all .1s;
    }

    .fadeoutSearchOrderbyWindow{
        animation: fadeout forwards .2s;
    }

    @keyframes fadeout {
        0%{
            opacity: 1;
            transform: scaleY(1);
        }
        50%{
            opacity: 1;
            transform: scale(.8);
        }
        100%{
            opacity: 0;
            transform: scale(.5);
        }
    }

    .searchOrderbyUpper{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .searchOrderbySection{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .searchOrderbySection label{
        margin-bottom: 10px;
    }

    .searchOrderbyOptions{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .searchOrderbyOptions input[type="radio"]{
        display: none;
    }
    
    .searchOrderbyOptions li{
        list-style: none;
        margin-bottom: 5px;
    }

    .searchOrderbyOptionBtn{
        cursor: pointer;
        padding: 2px 20px;
        border-radius: 5px;
        background-color: #da0000;
        color: #ffffff;
        font-size: 16px;
        font-weight: 900;
        transition: all .1s;
    }

    .searchOrderbyOptionBtn:hover{
        background-color: #ff3c3c;
    }

    .searchOrderbyOptionBtn:active{
        background-color: #ffffff;
        color: #da0000;
    }

    #orderbyTitleRadio:checked ~ label{
        background-color: #ffffff;
        color: #da0000;
    }

    #orderbyAuthorRadio:checked ~ label{
        background-color: #ffffff;
        color: #da0000;
    }

    #orderbyYearRadio:checked ~ label{
        background-color: #ffffff;
        color: #da0000;
    }

    #orderbyAscRadio:checked ~ label{
        background-color: #ffffff;
        color: #da0000;
    }

    #orderbyDescRadio:checked ~ label{
        background-color: #ffffff;
        color: #da0000;
    }

    .searchOrderbyFinish{
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: #da0000;
        color: #ffffff;
        font-size: 20px;
        font-weight: 900;
        transition: all .1s;
    }

    .searchOrderbyFinish:hover{
        background-color: #ff3c3c;
    }

    .searchOrderbyFinish:active{
        background-color: #d60000;
        font-size: 16px;
    }
    
    .pagination{
        margin: 20px 0;
        padding: 0 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .pagination #arrow{
        color: red;
        font-size: 30px;
    }

    .active span{
        color: red !important;
        font-weight: 900;
    }

    .pagination li a{
        font-weight: 900;
        text-decoration: none;
    }
}